.App{
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

/* header{
  background-color: #282c34;
  padding: 20px;
  color: white;
} */

section{
  padding: 20px;
  margin: 20px 0;
}

footer{
  background-color: #282c34;
  padding: 10px;
  color: white;
  text-align: center;
}

.about-me, .skills,.professional-experience, .projects, .testimonials, .contact{
  margin: 20px 0;
}

h2{
  font-size: 2rem;
  margin-bottom: 20px;
}