.projects{
    padding: 50px 20px;
    background-color: #fff;
}


.project-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project-item{
    flex: 1 1 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    transition: transform 0.3s ease;
}


.project-item:hover{
    transform: scale(1.05);
}

.project-item h3{
    margin-top: 0;
}

.project-item p{
    margin-bottom: 0;
}

.link{
    border: 2px black solid;
    padding: 0 20px;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    display: inline-block;
    background-color: black;
    cursor: pointer;
    border-radius: 30px;
    width: 100%;
    text-align: center;
}